<main class="home">
  <section class="auth-home">
    <h2>Form sell</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <form class="form" action="/houses/form-sell" method="POST" enctype="multipart/form-data">

       <label for="image" class="img-select">
         <span class="label">Images</span>
        <input class="" type="file" name="image">
      </label>  

      <label for="title" class="inp">
        <input type="text" name="title" id="title"  placeholder="&nbsp;">
        <span class="label">Title</span>
        <span class="border"></span>
      </label>    
      
      <label for="area" class="inp">
        <input type="text" name="area" id="area"  placeholder="&nbsp;">
        <span class="label">Area</span>
        <span class="border"></span>
      </label> 

      <label for="location" class="inp-location">
        <div id='geocoder' class='geocoder'></div>
        <div class="map-form" id='map'></div>
      </label>

      {{!-- <label for="location" class="inp">
        <input type="text" name="location" id="location"  placeholder="&nbsp;">
        <span class="label">Location</span>
        <span class="border"></span>
      </label>   --}}

      <label for="description" class="inp">
         <textarea name="description" id="description"  placeholder="&nbsp;"></textarea>
        <span class="label">Description</span>
        <span class="border"></span>
      </label>  
      
      
     
      {{!-- <label for="rooms">Rooms</label>                 --}}
        <select name="rooms" id="rooms">
          <option value="0"></option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
        </select>
        {{!-- <label for="bathrooms">Bathrooms</label>         --}}
          <select name="bathrooms" id="bathrooms">
            <option value="0"></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
          </select>
        {{!-- <label for="swimmingPool">Swimmingpool</label>         --}}
        <select name="swimmingPool" id="swimmingPool">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
        {{!-- <label for="garden">Garden</label>  --}}
        <select name="garden" id="Garden">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
        {{!-- <label for="privateBeach">Private beach</label>  --}}
        <select name="privateBeach" id="privateBeach">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
        {{!-- <label for="price">Price</label> --}}
        <input class="input-black" type="text" name="price" id="price" placeholder="Price – €">
          <button class="btn-black" type="submit">Publish</button>
          <button class="btn-delete" type="submit">Reset</button>
    </form>
  </section>
</main>
