<main class="home">
  <section class="auth-home">
    <h2>Form sell</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <form class="sell-form" enctype="multipart/form-data">

       <label for="image" class="img-select">
         <span class="label">Images</span>
        <input class="" type="file" name="image">
        <p>Upload a maximum of 6 photos</p>
        <button class="btn-upload">Upload Image</button>
        <div class="photo-up-container"></div>
      </label>  

      <label for="title" class="inp">
        <input type="text" name="title" id="title"  placeholder="&nbsp;">
        <span class="label">Title</span>
        <span class="border"></span>
      </label>    
      
      <label for="area" class="inp">
        <input type="number" name="area" id="area"  placeholder="&nbsp;">
        <span class="label">Area</span>
        <span class="border"></span>
      </label> 



      <section class="location-section">
        <section class="title">
          <span class="loc">Location</span>
        </section>
        <span class="border"></span>
        <div id='geocoder' class='geocoder-form'></div>
        <div class="map-form" id='map'></div>
        <input type="hidden" name="location" class="location" >
      </section>
     
      {{!-- <label for="location" class="inp">
        <input type="text" name="location" id="location"  placeholder="&nbsp;">
        <span class="label">Location</span>
        <span class="border"></span>
      </label>   --}}

      <section class="location-section">
        <section class="title">
          <span class="loc">Description</span>
        </section>
          <textarea name="description" id="description"  placeholder="&nbsp;"></textarea>
      </section>
        
      
      <section class="location-section">
        <section class="title">
          <span class="loc">Rooms</span>
            <select name="rooms" id="rooms">
              <option value="0">number of rooms</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
            </select>
          </section>
        </section>

      <section class="location-section">
        <section class="title">
          <span class="loc">Bathrooms</span>
          <select name="bathrooms" id="bathrooms">
            <option value="0">number of bathrooms</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
          </select>
        </section>
      </section>

      <section class="location-section">
        <section class="title">
          <span class="loc">Swimmingpool</span>
            <select name="swimmingPool" id="swimmingPool">
              <option value="yes">–</option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </section>
        </section>

      <section class="location-section">
        <section class="title">
          <span class="loc">Garden</span>
            <select name="garden" id="Garden">
              <option value="yes">–</option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </section>
        </section>

      <section class="location-section">
        <section class="title">
          <span class="loc">Private beach</span>
            <select name="privateBeach" id="privateBeach">
              <option value="yes">–</option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </section>
        </section>

       
      <label for="price" class="inp">
        <input class="input-black" type="text" name="price" id="price" placeholder="&nbsp;">
        <span class="label">Price</span>
        <span class="border"></span>
      </label>    
        
          <button class="btn-black" type="submit">Publish</button>
          <button class="btn-delete" type="submit">Reset</button>
    </form>
  </section>
</main>
