<main class="home">

  <section class="auth-home"> 
    <h2>What are you looking for?</h2>

    <section class="home-buy">
      <section class="home-buy-info">

        <section class="home-buy-title">
          <h4>Buy</h4>
          <p>The house of your dreams</p>
        </section>
          
        <section class="home-buy-link">
          <a href="">see all</a>
        </section>

        <article class="scrolling-wrapper">
            <section class="card">
              <h2>Card</h2>
            </section>
        </article>

      </section>
    </section>

    <section class="home-buy-near-you">
      <section class="home-buy-title">
          <h4>Buy</h4>
          <p>The house of your dreams</p>
      </section>

      <section class="home-buy-link">
        <a href="">see all</a>
      </section>

      <article class="scrolling-wrapper">
            <section class="card">
              <h2>Card</h2>
            </section>
      </article>
    </section>

    <section class="home-news">
      <section class="home-buy-title">
        <h4>News</h4>
        <p>The house of your dreams</p>
      </section>

      <article class="scrolling-wrapper">
            <section class="card">
              <h2>Card</h2>
            </section>
      </article>
    </section>

    <section class="home-buy-map">
      <section class="home-buy-title">
        <h4>Find by map</h4>
        <p>The house of your dreams</p>
      </section>

      <article class="scrolling-wrapper">
            <section class="card">
              <h2>Card</h2>
            </section>
      </article>
    </section>

  </section>
</main>
    
    