<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="stylesheets/main.css">
  </head>
  <body>
    {{{body}}}
    <nav>
      <ul>
        <li>
          <img src="" alt="">
          <a href="/">Explore</a>
        </li>
        <li>
          <img src="" alt="">
          <a href="/profile/save">Save</a>
        </li>
        <li>
          <img src="" alt="">
          <a href="/houses/form-sell">Sell</a>
        </li>
        <li>
          <img src="" alt="">
          <a href="/profile/messages">Messages</a>
        </li>
        <li>
          <img src="" alt="">
          <a href="/profile">Profile</a>
        </li>
        {{!-- <li>
          <form action="/auth/logout" method="POST">
            <button type="submit">logout</button>
          </form>
        </li> --}}
      </ul>
    </nav>
  </body>
</html>
