<main class="home">
  <section class="logo">
    <a href=""><img src="" alt="">Logo</a>
  </section>

  <section class="login">
    <form action="/auth/login" method="POST">
      <input type="text" name="email" id="email"  placeholder="email">
      <input type="password" name="password" id="password" required placeholder="password">
      <button class="btn-white" type="submit">Log in</button>
      <p>New user?<a href="auth/signup">Join us</a></p>
    </form>
  </section>
</main>
