<h2>My sells</h2>

<main>
  <section>  
    {{#each houses}} 
    <article>
      <p>{{title}}</p>
      <p>{{location}}</p>
      <a href="/houses/sells/{{_id}}">see more</a>
      <a href="/houses/sells/{{_id}}/edit">edit</a>
    </article>
    {{/each}}
 
  </section>
</main>