<h2>{{name}}Profile's</h2>

<img src="" alt="">
<a href="">Edit profile</a>
<a href="">My sells</a>
<a href="">My likes</a>
<form action="/auth/logout" method="POST">
  <button type="submit">Logout</button>
</form>
