<main class="intro">
  <section class="auth-home">
    <section class="logo">
      <a href=""><img src="" alt="">Logo Luxify</a>
    </section>
    <section class="login">
      <h2>Sign Up</h2>
      <form class="form" action="/auth/signup" method="POST">
        <input class="input-white" type="text" name="name" id="name"  placeholder="name">
        <input class="input-white" type="text" name="email" id="email"  placeholder="email">
        <input class="input-white" type="password" name="password" id="password"  placeholder="password">
        <button class="btn-white" type="submit">Sign up</button>
        <p<a class="log"><a href="/">Log in</a></p>
      </form>
    </section>
  </section>
</main>
