<main>
  <section class="logo">
    <a href=""><img src="" alt="">Logo</a>
  </section>

  <section class="signup">
    <form action="/auth/signup" method="POST">
      <input type="text" name="name" id="name"  placeholder="name">
      <input type="text" name="email" id="email"  placeholder="email">
      <input type="password" name="password" id="password"  placeholder="password">
      <button type="submit">Sign up</button>
      <a href="/">Log in</a>
    </form>
  </section>
</main>
