/* ---- reset ---- */
.btn-white {
  margin-bottom: 14px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
  background-color: white;
  color: black;
  letter-spacing: 1px;
}

.btn-black {
  margin-bottom: 14px;
  margin-top: 14px;
  border-radius: 8px;
  border: none;
  height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
  border: 1px solid black;
  letter-spacing: 1px;
}

.btn-delete {
  width: 100%;
  margin-bottom: 14px;
  border-radius: 8px;
  border: none;
  height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
  background-color: #e08080;
  color: white;
  letter-spacing: 1px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

.form .inp {
  position: relative;
  margin: auto;
  width: 100%;
  margin-bottom: 20px;
}

.form .inp .label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  color: #9098a9;
  font-weight: 500;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.form .inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(black), to(black));
  background: linear-gradient(to right, black, black);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.form .inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #223254;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.form .inp input:hover {
  background: rgba(34, 50, 84, 0.03);
}

.form .inp input:not(:placeholder-shown) + span {
  color: #5a667f;
  -webkit-transform: translateY(-26px) scale(0.75);
          transform: translateY(-26px) scale(0.75);
}

.form .inp input:focus {
  background: none;
  outline: none;
}

.form .inp input:focus + span {
  color: black;
  -webkit-transform: translateY(-26px) scale(0.75);
          transform: translateY(-26px) scale(0.75);
}

.form .inp input:focus + span + .border {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.form-delete {
  margin-top: 0px;
}

textarea#description {
  height: 80px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #9098a9;
}

label.img-select {
  margin-bottom: 25px;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  color: #9098a9;
  border-bottom: 1px solid #c8ccd4;
}

.geocoder-home {
  margin: 20px 25px 25px 25px;
}

.geocoder-form {
  margin: 0px 0px 25px 0px;
}

section.title {
  padding-bottom: 10px;
  border-bottom: 1px solid #c8ccd4;
  margin-bottom: 15px;
}

span.loc {
  color: #9098a9;
  font-weight: 500;
}

section.location-section {
  margin-top: 12px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

.form .inp-auth {
  position: relative;
  margin: auto;
  width: 100%;
  margin-bottom: 20px;
}

.form .inp-auth .label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.form .inp-auth .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.form .inp-auth input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #ffffff;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.form .inp-auth input:hover {
  background: rgba(255, 255, 255, 0.03);
}

.form .inp-auth input:not(:placeholder-shown) + span {
  color: #ffffff;
  -webkit-transform: translateY(-26px) scale(0.75);
          transform: translateY(-26px) scale(0.75);
}

.form .inp-auth input:focus {
  background: none;
  outline: none;
}

.form .inp-auth input:focus + span {
  color: white;
  -webkit-transform: translateY(-26px) scale(0.75);
          transform: translateY(-26px) scale(0.75);
}

.form .inp-auth input:focus + span + .border {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

textarea#description {
  height: 80px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #9098a9;
}

label.img-select {
  margin-bottom: 20px;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  color: #9098a9;
  border-bottom: 1px solid #c8ccd4;
}

nav {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f4f4f4;
  border-top: 1px solid #c6c6c6;
  z-index: 10;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 0;
  padding: 10px 5px 1px 5px;
  margin: 0;
}

nav li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 0.8em;
}

nav img {
  height: 35px;
}

nav p {
  font-size: 0.6em;
  margin: 0;
  padding: 0;
  padding: 0px 0px;
}

.fas.fa-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
}

.far.fa-heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
}

.far.fa-plus-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
}

.far.fa-comment-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
}

.fas.fa-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
}

.sub-title {
  margin-bottom: 30px;
  color: #979797;
}

.card {
  width: 100%;
  border-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-box-shadow: 0px 2px 50px -15px rgba(157, 157, 157, 0.59);
          box-shadow: 0px 2px 50px -15px rgba(157, 157, 157, 0.59);
  margin-bottom: 40px;
}

.card img {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
}

.card .card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 10px 10px;
}

.card .card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card .card-text-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 33%;
}

.card p {
  margin-bottom: 4px;
  font-weight: 500;
}

.card a {
  text-decoration: none;
  color: black;
  margin-bottom: 4px;
  font-weight: 500;
  margin: 0;
}

.card .tag {
  color: #afafaf;
  font-weight: 300;
}

.home-news {
  padding: 0px 25px;
  margin-bottom: 40px;
}

.home-news .home-news-info {
  border-top: 1px solid #dedede;
  padding-top: 12px;
}

.home-news .card-news {
  width: 100%;
  border-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-box-shadow: 0px 2px 50px -15px rgba(157, 157, 157, 0.59);
          box-shadow: 0px 2px 50px -15px rgba(157, 157, 157, 0.59);
  margin-bottom: 40px;
}

.home-news .card-news img {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 32vh;
}

.home-news .card-news .card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 10px 10px;
}

.home-news .card-news .card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-news .card-news .card-text-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 36%;
}

.home-news .card-news p {
  margin-bottom: 4px;
  font-weight: 500;
}

.home-news .card-news a {
  text-decoration: none;
  color: black;
  margin-bottom: 4px;
  font-weight: 500;
  margin: 0;
}

.home-news .card-news .tag {
  color: #afafaf;
  font-weight: 300;
}

.marker {
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: cover;
  /* background: black; */
}

.popup {
  width: 150px;
  height: 114px;
}

.popup img {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}

.map .mapboxgl-popup-content {
  padding: 0px;
  border-radius: 8px;
}

p.popup-details-title {
  padding: 0px 5px 5px 10px;
  font-weight: 500;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  margin: 0;
  padding: 0;
}

body h2 {
  font-size: 2.2em;
  margin: 0 auto;
  margin-bottom: 20px;
}

body h3 {
  font-size: 1.5em;
  margin: 0 auto;
  margin-bottom: 20px;
}

body h4 {
  font-size: 1.2em;
  margin: 0 auto;
  margin-bottom: 2px;
}

body p {
  margin: 0;
}

body .sub-p {
  color: #979797;
  margin-bottom: 15px;
}

body a {
  color: black;
  font-size: 1em;
  text-decoration: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  margin: 0 20px;
}

.intro {
  padding: 0px 25px 0px 25px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: url(/images/auth-bkground.png) no-repeat center center fixed;
  background-size: cover;
}

.intro .auth-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.intro .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.intro .log {
  color: white;
  font-size: 0.9em;
  font-weight: 300;
}

.intro .log a {
  margin-left: 10px;
  color: white;
  font-size: 0.9em;
  font-weight: 300;
  text-decoration: none;
}

.intro .login h2 {
  color: white;
  margin-bottom: 25px;
}

.home {
  padding: 30px 25px 70px 25px;
}

.home-intro {
  padding: 0px;
}

.home-intro .title-home-buy {
  padding: 25px 25px 0px 25px;
}

.home-intro .home-buy-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #dedede;
  margin: 0px 20px;
  padding-top: 12px;
}

.home-intro .home-buy {
  margin-bottom: 40px;
}

.home-intro .home-buy .scrolling-wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  -ms-grid-columns: (85%)[6];
      grid-template-columns: repeat(6, 85%);
  overflow-x: scroll;
}

.home-intro .home-buy .scrolling-wrapper .card-home {
  scroll-snap-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
}

.home-intro .home-buy .scrolling-wrapper .card-home:first-child {
  padding-left: 20px;
}

.home-intro .home-buy .scrolling-wrapper .card-home:last-child {
  padding-right: 20px;
}

.home-intro .home-buy .scrolling-wrapper a {
  margin: 0 auto;
  width: 100%;
}

.home-intro .home-buy .scrolling-wrapper img {
  width: 100%;
  border-radius: 8px 8px 8px 8px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 22vh;
}

.home-intro .div-map {
  width: 100%;
  height: 60vh;
  background-color: #e2e2e2;
  margin-bottom: 60px;
}

.profile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  border-bottom: 1px solid #dedede;
}

.profile-header .profile-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 60px;
  width: 60px;
  border-radius: 100px;
  border: 1px solid #dedede;
}

.sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.sub-menu a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  margin-bottom: 15px;
  font-weight: 300;
}

.personal-info {
  border-top: 1px solid #dedede;
  padding-top: 15px;
}

.personal-info .info p {
  margin-bottom: 6px;
  font-size: 1.2em;
  font-weight: 300;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 1.2em;
  font-weight: 300;
}

.house-ad .carrousel-img img {
  height: 58vh;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.house-ad .house-info {
  padding: 25px 25px 70px 25px;
}

.house-ad .house-info .title-ad h2 {
  margin-bottom: 2px;
}

.house-ad .house-info .title-ad .sub-p {
  margin-bottom: 20px;
  color: #979797;
}

.house-ad .house-info .title-ad p {
  margin-bottom: 30px;
}

.house-ad .details-ad {
  margin-bottom: 30px;
}

.house-ad .details-ad p {
  margin-bottom: 6px;
}

.house-ad .details-ad .details-ad-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.house-ad .details-ad .details-ad-info-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.house-ad .details-ad .details-ad-info-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.house-ad .price-ad {
  margin-bottom: 30px;
}

.house-ad .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.house-ad .contact a {
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
}

.house-ad .contact img {
  height: 30px;
}

.map {
  width: 100%;
  height: 60vh;
  margin-bottom: 62px;
}

.map-form {
  width: 100%;
  height: 30vh;
  margin-bottom: 20px;
}

.inp-location {
  margin-bottom: 20px;
}

.marker {
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: cover;
  /* background: black; */
}
/*# sourceMappingURL=main.css.map */