/* ---- reset ---- */

@import 'scss/components/buttons';
@import 'scss/components/forms';
@import 'scss/components/nav';
@import 'scss/components/card';


body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  margin: 0;
  padding: 0;

  h2 {
    font-size: 2.2em;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 1.5em;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  h4{
    font-size: 1em;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  p {
    margin: 0;
  }

}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.container {
  margin: 0 20px;
}

.intro {
  padding: 0px 25px 0px 25px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url(/images/auth-bkground.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 

  .auth-home {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .logo {
      display: flex;
      flex-direction: column;
      align-items: center;

    a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-decoration: none;
    }
  }
  .log {
    color: white;
    font-size: 0.9em;
    font-weight: 300;
    a{
      margin-left: 10px;
      color: white;
      font-size: 0.9em;
      font-weight: 300;
      text-decoration: none;
    }
  }
  .login{
    h2{
      color: white;
      margin-bottom: 25px;
    }
  }
}




.home{
  padding: 30px 25px 70px 25px;
  p{
    // margin-bottom: 20px;
  }

  }



// ------ House ad  ------ //

.profile-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

  .profile-title{

  }
  .profile-img{
    img{
      object-fit: cover;
      height: 60px;
      width: 60px;
      border-radius: 100px;
      border: 1px solid #979797;
    }
  }
}

.sub-menu{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 40px;

  a{
    text-decoration: none;
    color:black;
    font-size: 1.5em;
    margin-bottom: 6px;
  }
}
.personal-info{
    border-top: 1px solid #979797;
    padding-top: 15px;
    .info{
      p{
        margin-bottom: 6px;
      }
    }
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  font-size: 1.5em;
}




// ------ House ad  ------ //

  .house-ad{
    .carrousel-img{
      img{
        height: 58vh;
        object-fit: cover;
        width: 100%;
      }
    }
    .house-info{
      padding: 25px 25px 70px 25px;
      .title-ad{
        h2{
          margin-bottom: 2px;
        }
        .sub-p {
            margin-bottom: 20px;
            color: #979797;
        }
        p{
          margin-bottom: 30px;
        }
      }
    }
    .details-ad{
      margin-bottom: 30px;
      p{
        margin-bottom: 6px;
      }
      h3{
        
      }
      .details-ad-info{
        display: flex;
      }
      .details-ad-info-1 {
        display: flex;
        flex-direction: column;
        width: 50%;
      }
      .details-ad-info-2{
        display: flex;
        flex-direction: column;
        width: 50%;
      }
    }
    .price-ad{
      margin-bottom: 30px;
    }
    .contact{
      display: flex;
      flex-direction: column;
      a{
        margin-bottom: 20px;
        text-decoration: none;
        color: black;
      }
    }
  }

