/* ---- reset ---- */

@import 'scss/components/buttons';
@import 'scss/components/forms';
@import 'scss/components/forms-auth';
@import 'scss/components/nav';
@import 'scss/components/card';
@import 'scss/components/popup';
@import 'scss/components/maps';


body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  margin: 0;
  padding: 0;

  h2 {
    font-size: 2.2em;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 1.5em;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  h4{
    font-size: 1.2em;
    margin: 0 auto;
    margin-bottom: 2px;
  }

  p {
    margin: 0;
  }

  .sub-p{
    color: #979797;
    margin-bottom: 15px;
  }

  a{
    color: black;
    font-size: 1em;
    text-decoration: none;
  }


}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.container {
  margin: 0 20px;
}

.intro {
  padding: 0px 25px 0px 25px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url(/images/auth-bkground.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 

  .auth-home {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    height: 100vh;
    justify-content: space-between;
  }

  .logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 64px;

    a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-decoration: none;
      color: white;
      font-size: 6em;
      font-weight: 500;
      text-shadow: 1px 1px #2d2d2d;
      img {
        width: 95%;
        border: 1px solid;
        padding: 50px 60px 44px 60px;
    }
    }
  }
  .log {
    color: white;
    font-size: 0.9em;
    font-weight: 300;
    a{
      margin-left: 10px;
      color: white;
      font-size: 0.9em;
      font-weight: 300;
      text-decoration: none;
    }
  }
  .login{
    h2{
      color: white;
      margin-bottom: 25px;
    }
  }
}


.home{
  padding: 30px 25px 70px 25px;
}



// ------ Home - Explore ------ //  

.home-intro{
  padding: 0px;
    .title-home-buy{
      padding: 25px 25px 0px 25px;
    }
    .home-buy-info {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #dedede;
      margin: 0px 20px;
      padding-top: 12px;
    
      .home-buy-title{
      }
      .home-buy-link{
      }
    }
    .home-buy {
      margin-bottom: 40px;
      .scrolling-wrapper{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(6, 85%);
        overflow-x: scroll;
       
        
        .card-home {
          scroll-snap-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          &:first-child{
            padding-left: 20px;
          }
          &:last-child{
            padding-right: 20px;
          }
        }
  
      
        a{
        margin: 0 auto;
        width: 100%;
        }
        img{
          width: 100%;
          border-radius: 8px 8px 8px 8px;
          object-fit: cover;
          height: 22vh;
        }
      }
    }
    .div-map {
      width: 100%;
      height: 60vh;
      background-color: #e2e2e2;
      margin-bottom: 60px;
  }
}






// ------ Edit profile ------ //  

.home{
  .auth-home{
  
  }
}






// ------ House ad  ------ //

.profile-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: 1px solid #dedede;

  .profile-title{
  
  }
  .profile-img{
    img{
      object-fit: cover;
      height: 60px;
      width: 60px;
      border-radius: 100px;
      border: 1px solid #dedede;
    }
  }
}

.sub-menu{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 40px;

  a{
    text-decoration: none;
    color:black;
    font-size: 1.2em;
    margin-bottom: 15px;
    font-weight: 300;
  }
}
.personal-info{
    border-top: 1px solid #dedede;
    padding-top: 15px;
    .info{
      p{
        margin-bottom: 6px;
        font-size: 1.2em;
        font-weight: 300;
      }
    }
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  font-size: 1.2em;
  font-weight: 300;
}




// ------ House ad  ------ //

  .house-ad{
    .carrousel{
      img{
        height: 58vh;
        object-fit: cover;
        width: 100%;
      }
    }
    .house-info{
      padding: 25px 25px 70px 25px;
      .title-ad{
        h2{
          margin-bottom: 2px;
        }
        .sub-p {
            margin-bottom: 20px;
            color: #979797;
        }
        p{
          margin-top: 20px;
          margin-bottom: 30px;
        }
      }
    }
    .details-ad{
      margin-bottom: 30px;
      p{
        margin-bottom: 6px;
      }
      h3{
        
      }
      .details-ad-info{
        display: flex;
      }
      .details-ad-info-1 {
        display: flex;
        flex-direction: column;
        width: 50%;
      }
      .details-ad-info-2{
        display: flex;
        flex-direction: column;
        width: 50%;
      }
    }
    .price-ad{
      margin-bottom: 30px;
    }
    .contact{
      display: flex;
      flex-direction: column;
      a{
        margin-bottom: 20px;
        text-decoration: none;
        color: black;
      }
      img {
        height: 30px;
    }
    }
  }


.marker {
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: cover;
  /* background: black; */
}



 .carousel{
  display: grid;
  grid-template-columns: repeat(6, 100%);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
 
  article{
    margin: 0;
    padding: 0;
    scroll-snap-align: center;
    .slides {
      scroll-snap-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
    }
  }


  a{
  margin: 0 auto;
  width: 100%;
  }
  img{
    width: 100%;
    object-fit: cover;
    height: 60vh;
  }
}
