
.btn-white {
  margin-bottom: 14px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600; 
  background-color: white; 
  color: black;
  letter-spacing: 1px;
}
.btn-black {
  margin-bottom: 14px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;  
  border: 1px solid black;
  letter-spacing: 1px;

}
.btn-delete {
  margin-bottom: 14px;
  border-radius: 8px;
  border: none;
  height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;  
  background-color: #e08080; 
  color: white;
  letter-spacing: 1px;

}