

// .form {
//   display: flex;
//   flex-direction: column;
// }
  
// }

// // input[type=text]:focus {
// //   background-color: rgb(241, 241, 241);
// // }

// textarea {
//   width: 100%;
//   height: 150px;
//   padding: 12px 20px;
//   resize: none;
//   margin-bottom: 1em;
//   color: black;
//   background-color: rgb(255, 255, 255);
//   border: 1px solid black;
//   border-radius: 8px;
// }

// select {
//   width: 100%;
//   height: 50px;
//   border: none;
//   border-radius: 8px;
//   background-color: #ffffff;
//   margin-bottom: 1em;
//   border: 1px solid black;
// }

// input, select, textarea {
// 	display: block;
// 	box-sizing: border-box;
// 	width: 100%;
// 	outline: none;
// 	border: none;
// 	border-radius: 0;
// 	-webkit-appearance: none;
// 	   -moz-appearance: none;
// 	        appearance: none;
// }

// .input-white {
//   margin-bottom: 1em;
//   color: white;
//   background-color: rgba(255, 255, 255, 0);
//   border: 1px solid white;
//   border-radius: 8px;
//   height: 50px;
//   padding-left: 20px;
//   text-decoration: none;
//   font-size: 0.8em;
//   font-weight: 300; 
// }
// .input-black {
// margin-bottom: 1em;
// color: black;
// background-color: rgba(255, 255, 255, 0);
// border: 1px solid black;
// border-radius: 8px;
// height: 50px;
// padding-left: 20px;
// text-decoration: none;
// font-size: 0.8em;
// font-weight: 300;   
// }



.form{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  
  .inp {
    position: relative;
    margin: auto;
    width: 100%;
    margin-bottom: 20px;
    // max-width: 280px;
  }
  .inp .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
  }
  .inp .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, rgb(0, 0, 0) , rgb(0, 0, 0));
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
  }
  .inp input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
  }
  .inp input:hover {
    background: rgba(34,50,84,0.03);
  }
  .inp input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
  }
  .inp input:focus {
    background: none;
    outline: none;
  }
  .inp input:focus + span {
    color: rgb(0, 0, 0);
    transform: translateY(-26px) scale(0.75);
  }
  .inp input:focus + span + .border {
    transform: scaleX(1);
  }
}

.form-delete {
  margin-top: 0px;
}

textarea#description {
  height: 80px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #9098a9;
}

label.img-select {
  margin-bottom: 25px;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  color:  #9098a9;
  border-bottom: 1px solid #c8ccd4;
}


.geocoder-home {
  margin: 20px 25px 25px 25px;
}
.geocoder-form {
  margin: 0px 0px 25px 0px;
}

section.location-section {
}

section.title {
  padding-bottom: 10px;
  border-bottom: 1px solid #c8ccd4;
  margin-bottom: 15px;
}

span.loc {
  color: #9098a9;
  font-weight: 500;
}

section.location-section {
  margin-top: 12px;
}