section.title {
  padding-bottom: 10px;
  border-bottom: 1px solid #c8ccd4;
  margin-bottom: 15px;
}

span.loc {
  color: #9098a9;
  font-weight: 500;
}

section.location-section {
  margin-top: 12px;
}


.sell-form{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
 
  .upload-image {
    margin-bottom: 20px;
    display: flex;
    .select-img {
        width: 60%;
    }
    .btn-upload {
    border: 1px solid;
    border-radius: 8px;
    padding: 8px;
    font-size: 1em;
    }
  }
}
.sell-form{
  display: flex;
  flex-direction: column;
  margin-top:20px;

  .inp {
    position: relative;
    margin: auto;
    width: 100%;
    margin-bottom: 20px;
    // max-width: 280px;
  }
  .inp .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
  }
  .inp .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, rgb(0, 0, 0) , rgb(0, 0, 0));
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
  }
  .inp input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
  }
  .inp input:hover {
    background: rgba(34,50,84,0.03);
  }
  .inp input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
  }
  .inp input:focus {
    background: none;
    outline: none;
  }
  .inp input:focus + span {
    color: rgb(0, 0, 0);
    transform: translateY(-26px) scale(0.75);
  }
  .inp input:focus + span + .border {
    transform: scaleX(1);
  }
}

.form-delete {
  margin-top: 0px;
}

textarea#description {
  height: 80px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #9098a9;
}



.geocoder-home {
  margin: 20px 25px 25px 25px;
}
.geocoder-form {
  margin: 0px 0px 25px 0px;
}

section.location-section {
}

section.title {
  padding-bottom: 10px;
  border-bottom: 1px solid #c8ccd4;
  margin-bottom: 15px;
}

span.loc {
  color: #9098a9;
  font-weight: 500;
}

section.location-section {
  margin-top: 12px;
}

.img-select {
  margin-bottom: 8px;
  input[type="file"] {
    width: 85px;
}
  p {
    font-size: 1em;
    color: #8e8e8e;
}
}



.photo-up-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-top:10px;
  margin-bottom: 20px;
  .article-img{
    overflow: hidden;
    height: 74px;
    padding: 4px;
    img {
      width: 100%;
      height: 100%;
  }
  }
}