.marker {
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: cover;
  /* background: black; */
 }

.popup {
  width: 150px;
  height: 114px;

  img{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
  }
}

.map .mapboxgl-popup-content {
  padding: 0px;
  border-radius: 8px;
}

p.popup-details-title {
  padding: 0px 5px 5px 10px;
  font-weight: 500;
}